MyStyleApp/.vs
MyStyleApp/packages
MyStyleApp/MyStyleApp/MyStyleApp/bin
MyStyleApp/MyStyleApp/MyStyleApp/obj
MyStyleApp/MyStyleApp/MyStyleApp.Droid/bin
MyStyleApp/MyStyleApp/MyStyleApp.Droid/obj
MyStyleApp/MyStyleApp/MyStyleApp.iOS/bin
MyStyleApp/MyStyleApp/MyStyleApp.iOS/obj
MyStyleApp/MyStyleApp/MyStyleApp.WinPhone/bin
MyStyleApp/MyStyleApp/MyStyleApp.WinPhone/obj
MyStyleApp/MyStyleApp/MyStyleApp.WinPhone/AppPackages
*.csproj.user
Thumbs.db
Backend/v1/data/PushConstants.php
MyStyleApp/MyStyleApp/MyStyleApp.Droid/Constants/DroidAppConstants.cs
MyStyleApp/MyStyleApp/MyStyleApp.WinPhone/Constants/WinPhoneAppConstants.cs