MyStyleApp/.vs
MyStyleApp/packages
MyStyleApp/MyStyleApp/MyStyleApp/bin
MyStyleApp/MyStyleApp/MyStyleApp/obj
MyStyleApp/MyStyleApp/MyStyleApp.Droid/bin
MyStyleApp/MyStyleApp/MyStyleApp.Droid/obj
MyStyleApp/MyStyleApp/MyStyleApp.iOS/bin
MyStyleApp/MyStyleApp/MyStyleApp.iOS/obj
MyStyleApp/MyStyleApp/MyStyleApp.WinPhone/bin
MyStyleApp/MyStyleApp/MyStyleApp.WinPhone/obj
WinPhoneUITests/.vs
WinPhoneUITests/WinPhoneUITests/bin
WinPhoneUITests/WinPhoneUITests/obj
*.csproj.user
Thumbs.db