<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="59585PuriAmoros.MyStyleApp" Publisher="CN=F3612A00-0FEC-4A05-89E0-994BB66F05A1" Version="1.1.0.0" />
  <mp:PhoneIdentity PhoneProductId="fc5f0b69-1043-4914-850e-e92110f3b031" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>MyStyleApp</DisplayName>
    <PublisherDisplayName>Puri Amoros</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <!--<Resource Language="x-generate" />-->
    <Resource Language="es" />
    <Resource Language="en" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="FPCL.Windows8.WindowsPhone.App">
      <m3:VisualElements DisplayName="MyStyleApp" Square150x150Logo="Assets\Logo.png" Square44x44Logo="Assets\SmallLogo.png" Description="FPCL.Windows8.WindowsPhone" ForegroundText="light" BackgroundColor="transparent" ToastCapable="true">
        <m3:DefaultTile Wide310x150Logo="Assets\WideLogo.png" Square71x71Logo="Assets\Square71x71Logo.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\SplashScreen.png" />
        <m3:InitialRotationPreference>
          <m3:Rotation Preference="portrait" />
        </m3:InitialRotationPreference>
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <m3:Capability Name="appointments" />
  </Capabilities>
</Package>